/* Basic styling for the login page */
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url(bg.png);
}

.login-container {
    background-color: #ffc258;
    padding: 30px;
    border-radius: 8px;
    width: 100%;
    max-width: 400px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #1e767e;
}

label {
    font-size: 16px;
    margin-bottom: 8px;
    color: #095e64;
    display: block;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 3px solid #ff6600;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box;
}

input[type="password"] {
    font-family: Arial, sans-serif;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #1e767e;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #f24a12;
}

p {
    text-align: center;
    font-size: 14px;
    color: #555;
}

a {
    color: #01838f;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
